*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.vrb
*.xdv
*.txt
*.make.tex

main.pdf

fonts/
temp/
!figure/
!figures/
